.form-control {
  font-size: 2rem;
  padding: 5px 15px;
  outline: gray;
}

.navbtn {
  background-color: var(--main-color) !important;
  color: white !important;
}

.navbtn:hover {
  background-color: rgb(83, 60, 170) !important;
}

.dropdown i {
  font-size: 1.5rem;
  color: gray;
}
.form-group {
  flex-grow: 0.4;
  margin-bottom: 0px !important;
}
.dropdown-item {
  margin-bottom: 10px;
}
