.card_body {
  border: 1px solid #a498ec;
  border-radius: 10px;
  padding: 30px 70px 10px 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  overflow: hidden;
  cursor: pointer;
}

.card_img {
  border: 1px solid #a498ec;
  width: 130px;
  height: 130px;
}
.card_img img {
  width: 100%;
  height: 100%;
}
.card_date {
  color: black;
  opacity: 0.8;
  font-size: 0.9rem;
  margin-top: 5px;
}

.card_job {
  text-align: left;
  flex-grow: 1;
  margin-left: 20px;
}
.card_company_name {
  color: black;
  opacity: 0.5;
  font-size: 0.9rem;
}
.card_company_description {
  margin-top: 10px;
  color: rgb(94, 93, 93);
}
.card_list_item {
  width: 200%;
  position: relative;
}
.card_list_item i {
  color: blueviolet;
}

.advertisement_card_button {
  transition: 2s;
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 200px;
  border: none;
  background-color: #a498ec;
  border-radius: 10px;
  color: white;
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advertisement_card_button:hover {
  background-color: blueviolet;
}

.card_body:hover .advertisement_card_button {
  left: 0px;
}
.card_body:hover .card_list_item_last {
  display: flex;
}
