.user_profile_box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user_profile_box {
  transition: 0.3s;
  width: 100%;
  height: 300px;
  border: 1px solid var(--gray-color);
  position: sticky;
  top: 50px;
}
