:root {
  --main-color: #816afe;
  --second-color: #48d3fe;
  --gray-color: rgb(235, 235, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}

.App {
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
