:root {
  --main-color: #816afe;
  --second-color: #48d3fe;
  --gray-color: rgb(235, 235, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.App {
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-std {
  padding: 1.25rem !important;
}
.border-std {
  border: 1px solid var(--gray-color) !important;
  border-radius: 3px;
}

.font-1 {
  font-family: "Poppins", sans-serif;
}
.font-2 {
  font-family: "Lato", sans-serif;
}

.form-control {
  font-size: 1rem !important;
}

.bg-main {
  background-color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
}
.text-white {
  color: white !important;
}

.text-main {
  color: var(--main-color) !important;
}
